


a:link, a:visited, a:active {
    text-decoration:none;
    color: #bbb;
    transition: color .3s ease-in-out, .3s ease-in-out;
}

.main_nav{
    background-color: rgba(107, 17, 17, 0.816);
    opacity: 1;
}

.main_ul{
    display:flex;
    align-items:bottom;
    justify-content: right;
    list-style: none;
}

.main_li{
    margin:20px 15px 15px 15px;
    padding-top: 50px;
    cursor: pointer;
}


a:hover{
    color:#fff;
}

#pedro{
    margin-right: 200px;
}





.fondotexto{
    background-image: url(https://previews.123rf.com/images/pavelalexeev/pavelalexeev1706/pavelalexeev170600335/81037648-couleur-rouge-motif-de-cl%C3%B4ture-en-bois-r%C3%A9sum%C3%A9-de-fond-et-de-la-texture-pour-la-conception.jpg);
}

.texto{
    text-align: center;
    padding-top: 150px;
    font-size: 100px;
    color: #fff;
}

.text{
    
    text-align: center;
    padding-top: 30px;
    font-size: 30px;
    color: #fff;
    padding-bottom: 100px;
}



.map{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 70px;
}

.mapa{
    display: inline-block;
}


.aside{
    line-height: 50px;
    text-align: left;
    padding-left: 30px;
    opacity: .7;
}



.coma{
    background-color: #f02;
}

.coma_p{
    padding: 25px;
    text-align: center;
    opacity: .9;
}
