body{
    background-image: url(https://img.freepik.com/foto-gratis/fondo-suelo-textura-madera-beige_53876-98334.jpg?size=626&ext=jpg);
}

a:link, a:visited, a:active {
    text-decoration:none;
    color: #bbb;
    transition: color .3s ease-in-out, .3s ease-in-out;
}


.main_nav{
    background-color: rgba(33, 30, 26, 0.57);
}
.main_ul{
    display:flex;
    align-items:bottom;
    justify-content: right;
    list-style: none;
}

.main_li{
    margin:20px 15px 15px 15px;
    padding-top: 35px;
    padding-bottom: 35px;
    cursor: pointer;
}


a:hover{
    color:#fff;
}


#pedro{
    margin-right: 200px;
}


.contenedor{
    margin-top: 120px;
    text-align: center;
}

.contenedor_p{
    font-size: 100px;
    opacity: .8;
    font-family: 'Cookie', cursive;
}

.cont{
    margin-top: 30px;
    text-align: center;
}

.cont_p{
    font-size: 25px;
    opacity: .7;
    font-family: 'Shadows Into Light', cursive;
}

.content{
    background-color: rgba(138, 96, 127, 0.378);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
}

.content_img{
    margin-top: 100px;
    height: 850px;
    margin-bottom: 120px;
}


.coma{
    background-color: #f02;
}

.coma_p{
    padding: 25px;
    text-align: center;
    opacity: .9;
}
